absl-py==0.7.1
astor==0.7.1
cloudpickle==1.0.0
cycler==0.10.0
decorator==4.4.0
gast==0.2.2
google-pasta==0.1.5
grpcio==1.20.1
h5py==2.9.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.0.3
numpy==1.16.3
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
tb-nightly==1.14.0a20190508
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019050801
tf-nightly==1.14.1.dev20190508
tfp-nightly==0.7.0.dev20190508
Werkzeug==0.15.2
wrapt==1.11.1
