absl-py==0.7.1
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
cloudpickle==1.1.1
cycler==0.10.0
decorator==4.4.0
gast==0.2.2
google-pasta==0.1.6
grpcio==1.20.1
h5py==2.9.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
joblib==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Markdown==3.1
matplotlib==3.0.3
more-itertools==7.0.0
numpy==1.16.3
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.11.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.0
pyparsing==2.4.0
pytest==4.5.0
python-dateutil==2.8.0
pytz==2019.1
pyzmq==18.0.1
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
six==1.12.0
sklearn==0.0
tb-nightly==1.14.0a20190508
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019050801
tf-nightly==1.14.1.dev20190615
tfp-nightly==0.8.0.dev20190615
tornado==6.0.2
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.2
wrapt==1.11.1
